h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

h1 span {
  display: inline;
  background-color: #f2f2f2;
}

h2, h3 {
  font-family: 'Oswald';
}

h2 span {
  display: inline;
  background-color: #f7be81
}

.main {
  word-wrap: break-word;
}

.messageText {
  font-size: 14px;
}

.messageTitle {
  font-weight: bold;
}

.ownPost {
  background-color: #edfee5;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.middleTitle {
  background-color: #fbf371;
}

.leftTitle {
  background-color: #fadbd8;
}

.rightTitle {
  background-color: #edbb99;
}
